extends layout 


block main-content 
  //You can overwrite the main-content block by writing block content
  //in the template file which is extending.
  h1.page-title Hello! This is a test page.
  p Some random content in a paragraph.